[submodule "shadowsocksr"]
	path = ssr-client/shadowsocksr
	url = https://github.com/shadowsocksrr/shadowsocksr.git
	branch = manyuser
[submodule "nativefier"]
	path = nativefier
	url = https://github.com/jiahaog/nativefier.git
	branch = master
